.searchbar {
  position: fixed;
}
.searchbar__input {
  border: none;
  color: #fff;
  background-color: rgba(211, 211, 211, 0.2);
  border-radius: 5rem;
  padding: 0.5rem 4rem;
  border: 1px solid transparent;
  z-index: 1;
  transition: all 0.7s;
}
.searchbar__input:focus {
  outline: none;
  border: 1px solid #FE6244;
}
.searchbar__icon {
  position: relative;
  left: 3rem;
  transition: all 0.7s;
}
.searchbar:focus-within .searchbar__icon {
  color: #FE6244;
}

.newTweet {
  min-width: 28rem;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.newTweet__label {
  width: 20%;
}
.newTweet__form {
  width: 80%;
}
.newTweet__form-buttons {
  display: flex;
  justify-content: space-between;
}
.newTweet__form-audience-btn--1 {
  color: #FE6244;
  border-radius: 1rem;
  padding: 0 0.5rem;
  font-size: 0.9rem;
  border: 0.1rem solid rgba(211, 211, 211, 0.2);
  transition: all 0.2s;
}
.newTweet__form-audience-btn--1:hover {
  background-color: rgba(254, 98, 68, 0.1);
  cursor: pointer;
}
.newTweet__form-audience-container {
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(211, 211, 211, 0.2);
  max-width: fit-content;
  border-radius: 1rem;
}
.newTweet__form-audience-container-btn-1 {
  transition: all 0.4s;
  padding: 0 0.5rem;
}
.newTweet__form-audience-container-btn-1:last-child {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.newTweet__form-audience-container-btn-1:hover {
  background-color: rgba(211, 211, 211, 0.2);
  cursor: pointer;
}
.newTweet__form-audience-container-btn-2 {
  transition: all 0.4s;
  padding: 0 0.5rem;
  border-radius: 1rem;
}
.newTweet__form-audience-container-btn-2:hover {
  background-color: rgba(211, 211, 211, 0.2);
  cursor: pointer;
}
.newTweet__input {
  color: #fff;
  background-color: transparent;
  overflow-x: auto;
  overflow-y: none;
  resize: none;
  height: 1.5rem;
  width: 100%;
}
.newTweet__input:focus {
  outline: none;
}
.newTweet__icons {
  display: flex;
  gap: 0.5rem;
}

.logo-box {
  background-color: rgb(21, 32, 43);
  padding: 1.875rem 7.5rem;
  width: 37.5rem;
  height: 37.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 0.625rem;
  border: 0.0625rem solid black;
}
.logo-box .exit-button {
  position: absolute;
  top: 0;
  left: 0;
}
.logo-box .exit-button .exit {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1.875rem;
}
.logo-box .logo {
  width: 1.875rem;
  margin-bottom: 1.25rem;
}
.logo-box .bold-text {
  font-weight: bold;
}
.logo-box h2 {
  margin-bottom: 1.25rem;
}
.logo-box button {
  width: 100%;
  padding: 0.625rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.25rem 0;
  border-radius: 1.875rem;
  background: transparent;
  border: 0.0625rem solid #999;
  font-weight: 500;
  cursor: pointer;
}
.logo-box button img {
  width: 1.125rem;
  margin-right: 0.625rem;
}
.logo-box hr {
  border: 0;
  height: 0.0625rem;
  background: #c2c2c2;
  margin: 0.3125rem;
}
.logo-box span {
  display: block;
  width: 2.5rem;
  margin: auto;
  background: rgb(21, 32, 43);
  font-size: 0.875rem;
  margin-top: -1rem;
}
.logo-box input {
  width: 100%;
  background: transparent;
  border: 0.0625rem solid #999;
  outline: 0;
  padding: 0.9375rem 0.625rem;
  border-radius: 0.25rem;
}
.logo-box input::placeholder {
  font-weight: 500;
  color: #333;
}
.logo-box form button {
  background: #000;
  color: rgb(21, 32, 43);
  border: 0;
  margin-bottom: 0.9375rem;
}
.logo-box p {
  /* text-align: left; */
  font-size: 0.875rem;
  color: #555;
  margin: 2.5rem 0 3.125rem;
}

.login-box p a {
  text-decoration: none;
  color: #359cf0;
  margin-left: 6.25rem;
}

.sign-up {
  text-decoration: none;
  color: blue;
}

.text-create {
  margin-bottom: 1.875rem;
}

.navbar {
  width: 20rem;
  margin-top: 2rem;
}
.navbar :not(:last-child) {
  margin-bottom: 1rem;
}
.navbar__logo:link, .navbar__logo:visited {
  padding: 1rem 1rem;
  font-size: 1.5rem;
  transition: all 0.5s;
  border-radius: 50%;
}
.navbar__logo:hover {
  background-color: rgba(211, 211, 211, 0.1);
}
.navbar__link:link, .navbar__link:visited {
  text-decoration: none;
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  border-radius: 5rem;
  transition: all 0.5s;
}
.navbar__link:hover {
  background-color: rgba(211, 211, 211, 0.1);
}
.navbar__btn-reg {
  font-size: 1.5rem;
  padding: 0.7rem 1rem;
  border-radius: 5rem;
  transition: all 0.5s;
}
.navbar__btn-reg:hover {
  background-color: rgba(211, 211, 211, 0.1);
}
.navbar__btn-tweet {
  text-align: center;
  font-size: 1.5rem;
  width: 100%;
  background-color: #FE6244;
  border-radius: 5rem;
  padding: 0.7rem 1rem;
  transition: all 0.5s;
}
.navbar__btn-tweet:hover {
  background-color: #FC2947;
}

.sidebar {
  margin-top: 1rem;
}
.sidebar__container {
  margin: 5rem 0 0 2rem;
}
.sidebar__heading {
  font-weight: bold;
  font-size: 1.4rem;
}
.sidebar__btn {
  color: #FE6244;
  text-align: start;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  transition: all 0.5s;
}
.sidebar__btn:hover {
  background-color: rgba(211, 211, 211, 0.2);
}

.home {
  max-width: 33vw;
}
.home__header {
  margin-bottom: 1rem;
}
.home__btn {
  color: rgb(105, 118, 131);
  transition: background-color 0.5s;
  width: 16.5vw;
  padding: 0.7rem 0;
}
.home__btn:hover {
  background-color: rgba(211, 211, 211, 0.2);
}
.home__btn-active {
  color: #fff;
  border-bottom: 2px solid #FE6244;
}

/*# sourceMappingURL=style.css.map */
